<div class="container">
  
    <div class="col-md-5 col-sm-4 col-xs-12">
              <h1>Join your Family!</h1>
              <img class='img-responsive' src="../../app/assests/images/joinfamily1.jpg" alt='Joint Family'>

    </div>
     <div class="col-md-3 col-sm-1"></div> 
    <div class="col-md-4 col-sm-8 col-xs-12 sigin">
      <!--<div class='row'>
        <img class='img-circle logo' src="../../app/assests/images/ft.jpg" alt='Tree Logo'>
      </div>-->
      <div class="row">
          <div class="form-group label-floating">
            <label class="control-label" for="yourname">Your Name</label>
            <input class="form-control" id="yourname" type="text">
            <p class="help-block">Please enter your name</p>
         </div>
         <div class="form-group label-floating">
            <label class="control-label" for="familyname">Your Family Name</label>
            <input class="form-control" id="familyname" type="text">
            <p class="help-block">Please enter your Family name</p>
         </div>
      </div>
      <div class="row">
           <div class="form-group label-floating">
                <label class="control-label" for="emailmob">Email id / Mobile Number</label>
                <input class="form-control" id="emailmob" type="text">
                <p class="help-block">Please enter your email id / mobile number</p>
         </div>
      </div>
      <div class="row">
           <div class="form-group label-floating">
                <label class="control-label" for="pwd">Password</label>
                <input class="form-control" id="pwd" type="password">
                <p class="help-block">Please enter the valid password</p>
         </div>
      </div>
      <div class="row">
           <div class="form-group label-floating">
                <label class="control-label" for="cnfpwd">Confirm Password</label>
                <input class="form-control" id="cnfpwd" type="password">
                <p class="help-block">Please enter the valid password</p>
         </div>
      </div>
      <div class="row">
          <div class="wrapper-signin">
            <button [routerLink]="['/createfamily']" type="button" class="btn btn-raised btn-lg btn-block btn-primary">SIGN UP</button>
        </div></div>  
        <div class="row">
          <div class="create-acct">
             <a [routerLink]="['/login']">Back to Login</a>
             <router-outlet></router-outlet>
        </div></div>   
    </div>   
    <div class="col-md-4 col-sm-3 col-xs-1"></div>   
</div>
