<div class="container">
    <div class="col-md-4 col-sm-3 col-xs-1"></div>
    <div class="col-md-4 col-sm-6 col-xs-10 sigin">
      <!--<div class='row'>
        <img class='img-circle logo' src="../../app/assests/images/ft.jpg" alt='Tree Logo'>
      </div>-->
      <div class="row">
          <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Family Name</label>
            <input class="form-control" id="focusedInput1" type="text">
            <p class="help-block">Please enter your Family name</p>
         </div>
         <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Father Name</label>
            <input class="form-control" id="focusedInput1" type="text">
            <p class="help-block">Please enter your Father name</p>
         </div>
         <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Mother Name</label>
                <input class="form-control" id="focusedInput2" type="text">
                <p class="help-block">Please enter your Mother name</p>
         </div>
      </div>
      <div class="row">
          <div class="form-group label-floating" *ngFor="let input of inputs">
            <label class="control-label" for='f1' >{{input.value}}</label>
            <input class="form-control" id='f1' type="text">
            <button ng-click="Delete($event)" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i></button>
          </div>
      </div>
      <div class="row">
          <div class="addsibdiv"><i class="material-icons" (click)="addInput()">add_circle_outline</i>
          <span class="addsib" >Add Siblings</span></div>
       </div>
      <div class="row">
         
      </div>
      <div class="row">
          <div class="wrapper-signin">
            <button [routerLink]="['/login']" type="button" class="btn btn-raised btn-lg btn-block btn-primary">Done</button>
        </div></div>  
        <div class="row">
          <div class="create-acct">
             <a [routerLink]="['/signup']">Back</a>
             <router-outlet></router-outlet>
        </div></div>   
    </div>   
    <div class="col-md-4 col-sm-3 col-xs-1"></div>   
</div>
